---
layout: workshop
root: .
venue: University of Melbourne
address:  Richard Newton Rooms, Level 5, Building 193 (Monday, Tuesday and Wednesday), Room 803, Doug McDonnell Building (Friday).
country: Australia
language: en
latlng: -37.800483, 144.965807
humandate: August 24-28, 2015
humantime: 1:00 pm - 5:00 pm
startdate: 2015-08-24
enddate: 2015-08-28
instructor: ["Kerry Halupka", "Isabell Kiral-Kornek", "Gregory Bass", "Philippa Karoly"]
helper: []
contact: kerry.halupka@gmail.com
etherpad: https://etherpad.mozilla.org/2015-08-24-matlab
eventbrite: 17843201496
---

<!--
  HEADER
  Edit the values in the block above to be appropriate for your
  workshop.  Run 'tools/check' *before* committing to make sure that
  changes are good.
-->

<!--
  EVENTBRITE
  This block includes the Eventbrite registration widget if
  'eventbrite' has been set in the header.  You can delete it if you
  are not using Eventbrite, or leave it in, since it will not be
  displayed if the 'eventbrite' field in the header is not set.
-->
{% if page.eventbrite %}
<iframe
  src="https://www.eventbrite.com/tickets-external?eid={{page.eventbrite}}&ref=etckt"
  frameborder="0"
  width="100%"
  height="206px"
  scrolling="auto">
</iframe>
{% endif %}

<h2>Beginner's MATLAB Workshop for Researchers</h2>

<!--
  INTRODUCTION
  Edit the general explanatory paragraph below if you want to change
  the pitch.
-->
<p>
  Participants enrolled in this MATLAB workshop will learn how to 
  read in, analyse, and visualise.
  The mission of the <a href="{{site.swc_site}}">Software Carpentry</a>
  project is to help researchers be more productive by teaching them basic
  computing skills. Researchers often spend much of their time wrestling
  with software, but most are self-taught programmers. As a result, they
  spend hours doing things that should take minutes, reinvent a lot of
  wheels, and still don't know if their results are reliable. To tackle
  this problem, Software Carpentry runs two-day workshops at
  <a href="http://software-carpentry.org/workshops/previous.html">hundreds
  of sites around the world</a>. These hands-on workshops cover basic
  concepts and tools, including program design, version control, data
  management, and task automation. Participants are be encouraged to
  help one another and to apply what they have learned to their own
  research problems.
</p>

<!--
  AUDIENCE
  Explain who your audience is.  (In particular, tell readers if the
  workshop is only open to people from a particular institution.
-->
<p>
  <strong>Who:</strong>
  Researchers who have little or no programming experience but an understanding of how it might improve their research.
</p>

<!--
  LOCATION
  This block displays the address and links to maps showing directions
  if the latitude and longitude of the workshop have been set.  You
  can use http://itouchmap.com/latlong.html to find the lat/long of an
  address.
-->
{% if page.latlng %}
<p>
  <strong>Where:</strong>
  {{page.address}} (<a href="http://maps.unimelb.edu.au/parkville/building/193">map</a>).
</p>
{% endif %}
<!--
  SPECIAL REQUIREMENTS
  Modify the block below if there are any special requirements.
-->
<p>
  <strong>Requirements:</strong> Participants must bring a laptop that
  (a) MATLAB installed and activated, and (b) is able to 
  connect to the wifi network at the University of Melbourne (see 
  instructions for both <a href="#setup">below</a>). They are also 
  required to abide by Software Carpentry's
  <a href="{{site.swc_site}}/conduct.html">Code of Conduct</a>.
</p>
<p>
  Also, please download these four data files before arriving at the workshop:</p>
  <ol>
    <li><a href="https://raw.github.com/resbaz/2015-05-04-matlab/gh-pages/inflammation-01.csv">inflammation-01.csv</a></li>
    <li><a href="https://raw.github.com/resbaz/2015-05-04-matlab/gh-pages/inflammation-02.csv">inflammation-02.csv</a></li>
    <li><a href="https://raw.github.com/resbaz/2015-05-04-matlab/gh-pages/inflammation-03.csv">inflammation-03.csv</a></li>
    <li><a href="https://raw.github.com/resbaz/2015-05-04-matlab/gh-pages/inflammation-04.csv">inflammation-04.csv</a></li>
  </ol>
</p>

<!--
  CONTACT EMAIL ADDRESS
  Display the contact email address set in the header.  If an address
  isn't set in the header, the Software Carpentry admin address is
  used.
-->
<p>
  <strong>Contact</strong>:
  Please mail
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for more information or to volunteer as a helper!
</p>

<hr/>

<!--
  SCHEDULE
  Show the workshop's schedule.  Edit the items and times in the table
  to match your plans.  You may also want to change 'Day 1' and 'Day
  2' to be actual dates or days of the week.
-->
<h2>Schedule</h2>

<div class="row">
  <div class="col-md-6">
    <h3>Day 1: Monday 24 August</h3>
    <table class="table table-striped">
      <tr> <td>13:00-14:30</td>  <td>Introduction, user interface, variables</td> </tr>
      <tr> <td>15:00-15:30</td>  <td>Coffee</td> </tr>
      <tr> <td>15:30-17:00</td>  <td>Reading in and plotting data</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2: Tuesday 25 August</h3>
    <table class="table table-striped">
      <tr> <td>13:00-14:30</td>  <td>Writing scripts</td> </tr>
      <tr> <td>15:00-15:30</td>  <td>Coffee</td> </tr>
      <tr> <td>15:30-17:00</td>  <td>Writing scripts</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 3: Wednesday 26 August </h3>
    <table class="table table-striped">
      <tr> <td>13:00-14:30</td>  <td>Loops</td> </tr>
      <tr> <td>15:00-15:30</td>  <td>Coffee</td> </tr>
      <tr> <td>15:30-17:00</td>  <td>Loops and functions</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4: Friday 28 August</h3>
    <table class="table table-striped">
      <tr> <td>13:00-14:30</td>  <td>Functions and conditionals</td> </tr>
      <tr> <td>15:00-15:30</td>  <td>Coffee</td> </tr>
      <tr> <td>15:30-17:00</td>  <td>Conditionals and defensive programming</td> </tr>
    </table>
  </div>
</div> 

<!--
  ETHERPAD
  At `_misc/etherpad.txt` you will find a template for the etherpad.
  Display the Etherpad for the workshop.  You can set this up in
  advance or on the first day; either way, make sure you push changes
  to GitHub after you have its URL.  To create an Etherpad, go to
      http://etherpad.mozilla.org/YYYY-MM-DD-site
  where 'YYYY-MM-DD-site' is the identifier for your workshop (e.g.,
  '2015-06-10-esu'.
-->
{% if page.etherpad %}
<p>
  <strong>Etherpad:</strong> <a href="{{page.etherpad}}">{{page.etherpad}}</a>.
  <br/>
  We will use this Etherpad for chatting, taking notes, and sharing URLs and bits of code.
</p>
{% endif %}


<hr/>

<!--
  SYLLABUS
  Show what topics will be covered.
  1. If your workshop is R rather than Python, remove the comment
     around that section and put a comment around the Python section.
  2. Some workshops will delete SQL.
  3. Please make sure the list of topics is synchronized with what you
     intend to teach.
  4. You may need to move the div's with class="col-md-6" around inside
     the div's with class="row" to balance the multi-column layout.
  This is one of the places where people frequently make mistakes, so
  please preview your site before committing, and make sure to run
  'tools/check' as well.
-->
<h2>Syllabus</h2>
<div class="row-fluid">
<!--   <div class="span6">
    <h3>The Unix Shell</h3>
    <ul>
      <li>Files and directories</li>
      <li>History and tab completion</li>
      <li>Pipes and redirection</li>
      <li>Looping over files</li>
      <li>Creating and running shell scripts</li>
      <li>Finding things</li>
      <li><a href="{{site.swc_lessons}}/ref/01-shell.html">Reference card...</a></li>
      <li><a href="{{site.swc_lessons}}/shell/index.html">Lesson notes...</a></li>
    </ul>
  </div> -->
  <div class="span6">
    <h3>Programming in MATLAB</h3>
    <ul>
      <li>Working with arrays</li>
      <li>Reading and plotting data</li>
      <li>Creating and using functions</li>
      <li>Loops and conditionals</li>
      <li>Defensive programming</li>
      <li><a href="http://swcarpentry.github.io/matlab-novice-inflammation/">Lesson notes...</a></li>
    </ul>
  </div>
  <!-- 
  <div class="span6">
    <h3>Programming in R</h3>
    <ul>
      <li>Working with vectors and data frames</li>
      <li>Reading and plotting data</li>
      <li>Creating and using functions</li>
      <li>Loops and conditionals</li>
      <li>Using R from the command line</li>
      <li><a href="{{site.swc_lessons}}/ref/06-R.html">Reference...</a></li>
    </ul>
  </div>
  -->
<!-- </div> -->

<div class="row-fluid">
  <div class="span6">
    <h3>Version Control with Git</h3>
    <ul>
      <li>Creating a repository</li>
      <li>Recording changes to files: <code>add</code>, <code>commit</code>, ...</li>
      <li>Viewing changes: <code>status</code>, <code>diff</code>, ...</li>
      <li>Working on the web: <code>clone</code>, <code>pull</code>, <code>push</code>, ...</li>
      <li>Resolving conflicts</li>
      <li><a href="{{site.swc_lessons}}/ref/02-git.html">Reference card...</a></li>
      <li><a href="{{site.swc_lessons}}/git/index.html">Lesson notes...</a></li>
    </ul>
  </div>
</div>

<hr/>

<!--
  SETUP
  Delete irrelevant sections from the setup instructions.  Each
  section is inside a 'div' without any classes to make the beginning
  and end easier to find.
  This is the other place where people frequently make mistakes, so
  please preview your site before committing, and make sure to run
  'tools/check' as well.
-->

<h2 id="setup">Setup</h2>

<h3>Wifi</h3>

<p>
  Prior to the workshop, University of Melbourne staff/students should ensure that their 
  laptop can connect to UniWireless. Instructions on how to do this and where to get 
  assistance can be found 
  <a href="http://its.unimelb.edu.au/help/networks-access/networks-internet/connect-wireless/unimelb">here</a>.
  Attendees from other Australian universities should find out (from the IT website of
  their home institution) how to connect to the Eduroam wireless network.
</p>

<div> <!-- Start of 'editor' section. -->
  <!-- <h3>Text Editor</h3>
  <p>
    When you're writing code, it's nice to have a text editor that is
    optimized for writing code, with features like automatic
    color-coding of key words.  The default text editor on Mac OS X and
    Linux is usually set to Vim, which is not famous for being
    intuitive.  if you accidentally find yourself stuck in it, try
    typing the escape key, followed by ':q!' (colon, lower-case 'q',
    exclamation mark), then hitting Return to return to the shell.
  </p>
  <div class="row-fluid">
    <div class="span4">
      <h4>Windows</h4>
      <p>
  <code>nano</code> is the editor installed by the Software
  Carpentry Installer, it is a basic editor integrated into the
  lesson material.
      </p>
      <p>
  <a href="http://notepad-plus-plus.org/">Notepad++</a> is a
  popular free code editor for Windows.  Be aware that you must
  add its installation directory to your system path in order to
  launch it from the command line (or have other tools like Git
  launch it for you).  Please ask your instructor to help you do
  this.
      </p>
    </div>
    <div class="span4">
      <h4>Mac OS X</h4>
      <p>
  We recommend
  <a href="http://www.barebones.com/products/textwrangler/">Text Wrangler</a> or
  <a href="http://www.sublimetext.com/">Sublime Text</a>.
  In a pinch, you can use <code>nano</code>,
  which should be pre-installed.
      </p>
    </div>
    <div class="span4">
      <h4>Linux</h4>
      <p>
  <a href="http://kate-editor.org/">Kate</a> is one option for
  Linux users.  In a pinch, you can use <code>nano</code>, which
  should be pre-installed.
      </p>
    </div>
  </div>
</div>  --><!-- End of 'editor' section. -->
<!-- 
<div> <!-- Start of 'shell' section. -->
<!--   <h3>The Bash Shell</h3>
  <p>
    Bash is a commonly-used shell that gives you the power to do simple
    tasks more quickly.
  </p>
  <div class="row-fluid">
    <div class="span4">
      <h4>Windows</h4>
      <p>
  Install Git for Windows by download and running
  <a href="http://msysgit.github.io/">the installer</a>.
  This will provide you with both Git and Bash in the Git Bash program.
      </p>
      <h4>Software Carpentry Installer</h4>
      <p><em>This installer requires an active internet connection.</em></p>
      <p>After installing Python and Git Bash:</p>
      <ul>
  <li>
          Download the <a href="{{site.swc_installer}}">installer</a>.
  </li>
  <li>
          If the file opens directly in the browser
          select <strong>File&rarr;Save Page As</strong> to download it
          to your computer.
  </li>
  <li>
          Double click on the file to run it.
  </li>
      </ul>
    </div>
    <div class="span4">
      <h4>Mac OS X</h4>
      <p>
  The default shell in all versions of Mac OS X is bash, so no
  need to install anything.  You access bash from the Terminal
  (found in
  <code>/Applications/Utilities</code>).  You may want to keep
  Terminal in your dock for this workshop.
      </p>
    </div>
    <div class="span4">
      <h4>Linux</h4>
      <p>
  The default shell is usually <code>bash</code>, but if your
  machine is set up differently you can run it by opening a
  terminal and typing <code>bash</code>.  There is no need to
  install anything.
      </p>
    </div>
  </div>
<div>  --> 

<div> <!-- Start of 'Git' section. -->
  
<h3>MATLAB</h3>

<p>
  MATLAB is a very popular data analysis environment. It's a commercial product,
  however most universities provide free licences to their staff
  and students. University of Melbourne people can find instructions on
  how to install Matlab on their personal laptop
  <a href="http://github.com/resbaz/lessons/blob/master/matlab/unimelb_matlab_install.md">here</a>.
  Participants from other institutions should ask their IT department for assistance.
</p>
<p>
  The instructors at the workshop will be using Matlab 2014b. Since each new
  version has a slightly different look and feel (not to mention new functionality that isn't
  available in previous versions), it's important that participants also install this version.
</p>
<p>
  During the installation process, you'll be asked whether you'd like to install
  any additional toolboxes (e.g. statistics, curve fitting, aerospace... there are many).
  No specialised toolboxes are required to complete the workshop,
  however if there's other toolboxes that look relevant to your research you may wish to install them for
  future use. Note that it's not a good idea to install all the available toolboxes, as
  this makes the installation process take much longer (i.e. don't install a toolbox
  unless you are very likely to use it - you can always install additional toolboxes
  later on).
</p>
